#photo {
  width: 70px;
  height: 70px;
  display: inline-block;
}

#nav-bar {
  background-image: linear-gradient(to right, rgba(177, 12, 96, 0.8), rgba(255, 213, 200, 0.671));
}

.navbar-brand {
  text-align: center;
}

strong {
  position: fixed;
  padding-top: 20px;
}