<div class="row">
  <div class="col-md-6 card">
    <p class="h1"></p>
    <form>
      <div class="form-group">
        <label for="email1">Correo Electrónico</label>
        <input type="email" id="email1" name="email" class="form-control" [(ngModel)]="email" placeholder="Introduzca su correo">
      </div>
      <div class="form-group">
        <label for="password1">Contraseña</label>
        <input type="password" id="password1" class="form-control" name="password"  [(ngModel)]="password"vplaceholder="Contraseña">
      </div>
      <a href="#" routerLink="/muro"><i class="fab fa-google-plus" style="font-size:48px;color:#dd5347"></i></a>
      <a href="#" routerLink="/muro"><i class="fab fa-facebook" style="font-size:48px;color:#3f5c9a"></i></a>
      <input type="button" class="btn btn-primary" (click)="loginUser()" value="Entrar">
    </form>    
  </div>
</div>