.btnFacebook, .btnGoogle {
  font-size: 27px;
  margin-left: 10px;
  width: 100px;
}

.btnFacebook {
  color: #ffffff;
  background-color: #3f5c9a;
}

.btnGoogle {
  color: #efede6;
  background-color: #dd5347;
}

#button-login {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#button {
  background-color:  rgba(184, 57, 216, 0.8);
  border: 1px #760C7A solid;
}