<div class="row">
  <div class="col-md-6 card mx-auto mt-5">
    <p class="h3 text-center">Inicio de sesión</p>
    <form>
      <div class="form-group">
        <label for="email1">Correo Electrónico</label>
        <input type="email" id="email1" name="email" class="form-control" [(ngModel)]="email" placeholder="Introduzca su correo">
      </div>
      <div class="form-group">
        <label for="password1">Contraseña</label>
        <input type="password" id="password1" class="form-control" name="password"  [(ngModel)]="password" placeholder="Contraseña">
      </div>
      <input type="button" class="btn btn-primary offset-5 btn-lg" (click)="loginUser()" value="Entrar">
      <div class="offset-4 mt-3">
        <button (click)="loginGoogle()" class="btn btnGoogle"><i class="fab fa-google-plus"></i></button>
        <button (click)="loginFacebook()" class="btn btnFacebook"><i class="fab fa-facebook"></i></button>
      </div>
    </form>    
  </div>
</div>