<div *ngIf="isLogin" >
  <div class="card col-6">
    <form #postDescription="ngForm">
      <div>
        <textarea name="descriptionPost" id="description"  [(ngModel)]="post.descriptionPost" cols="70" rows="10"></textarea>
      </div>
      <button class="btn btn-primary offset-5" (click)="onSavePost(postDescription)">Postear</button>
    </form>
  </div>

  <div *ngFor="let post of posts">
    <strong>{{post.userName}}</strong>
    <div class="card col-6">
      {{post.postDescription}}
    </div>
  </div>
</div>

